######################################################################
#
# End-to-end validation
#
# Validate that the Action can be run on a variety of environments
# and configurations to ensure that it will behave as expected.
# Tests include a variety of versions (including "latest") on
# different operating systems. Also validates side-by-side
# installations of multiple versions of the tools.
#
######################################################################

name: End-to-end validation

on:
  push:
    branches:
      - main
      - releases/*
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  setup-tool-check-versions:
    name: Setup ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos, windows, ubuntu]
        version:
          - 10.9.0
          - 10.10.0
          - 10.11.1

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: setup-tool
        uses: ./
        id: setup-tool
        with:
          version: ${{ matrix.version }}
      - name: Verify Install
        run: ./test/verify-version.sh "${{ matrix.version }}" "${{ steps.setup-tool.outputs.path }}"
        shell: bash

  setup-tool-check-latest:
    name: Setup latest - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos, windows, ubuntu]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: setup-tool
        uses: ./
        id: setup-tool
        with:
          version: latest
      - name: Verify Install
        run: ./test/verify-version.sh "${{ steps.setup-tool.outputs.version }}" "${{ steps.setup-tool.outputs.path }}"
        shell: bash

  setup-tool-check-java:
    name: Setup Java latest - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos, windows, ubuntu]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: setup-java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: setup-tool
        uses: ./
        id: setup-tool
        with:
          version: 10.8.1
          architecture: java
      - name: Verify Install
        run: ./test/verify-version.sh "10.8.1" "${{ steps.setup-tool.outputs.path }}"
        shell: bash

  setup-tool-check-sbs:
    name: Setup side by side - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      fail-fast: false
      matrix:
        os: [macos, windows, ubuntu]

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: setup-java
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup native
        uses: ./
        id: setup-tool-native
        with:
          version: latest
      - name: Verify Native Install
        run: ./test/verify-version.sh "${{ steps.setup-tool-native.outputs.version }}" "${{ steps.setup-tool-native.outputs.path }}"
        shell: bash
      - name: Setup Java
        uses: ./
        id: setup-tool-java
        with:
          version: latest
          architecture: java
      - name: Verify Java Install
        run: ./test/verify-version.sh "${{ steps.setup-tool-java.outputs.version }}" "${{ steps.setup-tool-java.outputs.path }}"
        shell: bash
